<head>
<link rel="stylesheet" href="styles/films-page.css" />
<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/xolonium" type="text/css"/>
<link rel="stylesheet" href="styles/text.css" />
</head>

<body>

<header>
    <h3>Shmentina & Capellyana present...</h3>
</header>

<div class="gallery">

  {% for (film, film_title) in films -%}

    <div class="container">
      <img src="posters/{{film}}.jpg">
      <div class="box">
        <a href="reviews/{{film}}.html"><h1>{{film_title}}</h1></a>
      </div>
    </div>

  {% endfor %}

  {% if next_page: -%}

    <div class="next large"><a href="{{next_page}}">Next</a></div>

  {% endif %}

</div>

</body>
