<head>
<link rel="stylesheet" href="styles/films-page.css" />
<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/xolonium" type="text/css"/>
<link rel="stylesheet" href="styles/text.css" />
</head>

<body>

<header>
    <h3>Shmentina & Capellyana present...</h3>
</header>

<div class="gallery">

  {% for (film, film_title) in films -%}

    <div class="container">
      <img src="posters/{{film}}.jpg">
      <div class="box">
        <a href="reviews/{{film}}.html"><h1>{{film_title}}</h1></a>
      </div>
    </div>

  {% endfor %}

  <div class="page_navigation">
    {% if prev_page: -%}
      <div class="prev large"><a href="{{prev_page}}">&lt; Prev</a></div>
    {% else: -%}
      <!-- Create a hidden element. Still required to align items easily with CSS -->
      <div class="prev large inactive"><a href="{{prev_page}}">&lt; Prev</a></div>
    {% endif %}

    {% if next_page: -%}
      <div class="next large"><a href="{{next_page}}">Next &gt;</a></div>
    {% else: -%}
      <div class="next large inactive"><a href="{{next_page}}">Next &gt;</a></div>
    {% endif %}
  </div>

</div>

</body>
