.board {
    display: grid;
    grid-template-rows: 15em 15em 15em;
    grid-template-columns: 15em 15em 15em;
    margin: auto;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
}

.box {
  background: #444;
  border: 1px solid #555;

  padding: 1em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: 'XoloniumRegular';
  font-size: 200%;
}

a {
  color: #AAA;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
