.container {
  display: flex;
}

.poster-box {
  width: 150%;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review {
  padding-left: 1.5em;
}

h1, h2 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.avatar-left {
    float: left;
}

.avatar-right {
    float: right;
}
