h1 {
  font-family: 'XoloniumRegular';
  font-size: 200%;
}

h2, h3 {
  font-family: 'XoloniumRegular';
  font-size: 150%;
}

body {
  font-family: sans-serif;
}

small, .small {
  font-size: 80%;
}

.large {
  font-family: 'XoloniumRegular';
  font-size: 200%;
}
