h1 {
  font-family: 'XoloniumRegular';
  font-size: 200%;
}

h2, h3 {
  font-family: 'XoloniumRegular';
  font-size: 150%;
}

body {
  font-family: sans-serif;
}

small, .small {
  font-size: 80%;
}

.large {
  font-family: 'XoloniumRegular';
  font-size: 200%;
}

@font-face {
    font-family: 'XoloniumRegular';
        src: url('/fonts/Xolonium-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'XoloniumBold';
        src: url('/fonts/Xolonium-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }
